# IDE
.idea/
.vscode/

# CMake build directories
cmake-build-*/
build/
out/

# Compiled binaries / objects
*.exe
*.o
*.obj
*.out
*.a
*.lib
*.so
*.dylib
*.dll

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# OS
.DS_Store
Thumbs.db
